/* .form {
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
  color: #32506c;
  font-size: 0.85rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 9px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;

  font-size: 0.8rem;
  line-height: 1.4;
  color: #777;
  font-weight: 400;
}

.control input:focus,
.control textarea:focus {
  outline-color: #66c873;
}
.actions {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span h1 {
  text-align: center;
  color: #66c873;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
}

.toggle {
  margin-top: 0.5rem;
  background-color: transparent;
  color: #32506c;
  border: none;
  padding: 0.15rem 1.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

.toggle:hover {
  background-color: transparent;
  color: #66c873;
} */
