.textbox {
  padding: 1rem 1rem;
  font-family: inherit;
  align-self: center;
  letter-spacing: -0.5px;
  justify-content: center;
  align-items: center;
}
.textbox h3 {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #653173;
  margin-bottom: 0.5rem;
  font-weight: 410;
  justify-content: baseline;
}
.textbox h1 {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 800;
  background: linear-gradient(90deg, #653173, #e13272);
  -webkit-background-clip: text;
  color: transparent;
}
/* .textbox h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  color: #0d4982;
} */
.textbox h2 {
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
}

.container {
  width: 100%;
  /* padding: 0 3%; */
  /* background-color: red; */
  align-items: center;
  /* background-size: cover;
  background-position: center;
  justify-content: center; */
}

.hero-section {
  align-items: center;
  height: 600px;
  /* background-image: url("../assets/4840775.webp"); */
  background-color: #fdf2e9;
  background-size: cover;
  background-position: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  padding: 0 2rem;
}

.form-section {
  align-items: center;
  height: 800px;
  /* background-image: url("../assets/4840775.webp"); */
  /* background-color: #fdf2e9; */
  /* background-size: cover;
  background-position: center; */
  justify-content: center;
  width: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  padding: 0 2rem;
  /* display: inline-block; */
  /* padding: 5rem 2rem; */
}

/* .hero-img {
  width: 96%;
  background-color: rgb(235, 12, 194);
  opacity: 0.2;
} */

.box {
  display: flex;
  gap: 3rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
}
.submitbtn {
  display: inline-block;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 0.6rem 1rem;
  margin-right: 1.2rem !important;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid #e13272;
  background: linear-gradient(90deg, #653173, #e13272);
  -webkit-background-clip: text;
  color: transparent;
}

.paybtn {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  padding: 0.6rem 1rem;
  margin-right: 1.2rem !important;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background: linear-gradient(90deg, #653173, #e13272);
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.btn--full:link,
.btn--full:visited {
  border: none;
  border-radius: 9px;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(90deg, #653173, #e13272);
  text-decoration: none;
  padding: 0.6rem 1rem;
  margin-right: 1.2rem !important;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}
.btn--full:hover,
.btn--full:active {
  background-image: linear-gradient(to top left, #fff, #fff);
  background: linear-gradient(90deg, #653173, #e13272);
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
}

.btn--outline:link,
.btn--outline:visited {
  border-radius: 9px;
  border: 0.1rem solid #e13272;
  background: linear-gradient(90deg, #653173, #e13272);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.5rem 1rem;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 0 3px #fff;
}

/* .icon-flex {
  color: #32506c;
  height: 5rem;
  width: 5rem;
  display: flex;
  text-align: center;
}

.flex {
} */

.footer-section {
  padding: 1.2rem;
  height: 15rem;
  display: flex;
  gap: 15rem;
  align-items: center;
  justify-content: center;
  background-color: #fdf2e9;
}

.footer-item {
  font-size: 0.7rem;
  line-height: 1.4;
  color: #653173;
  margin-bottom: 0.5rem;
  font-weight: 410;
  /* display: flex; */
}

.footer-item {
  text-decoration: none;
  list-style-type: none;
}
