.card {
  padding: 1rem 3rem;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  background-color: white;
  max-width: 25rem;
}

@media (max-width: 480px) {
  .card {
    max-width: 18rem;
  }
}

/* .loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #653173, #e13272);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 0.85rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
}

.control input,
.control select,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 9px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.4;
  color: #777;
  font-weight: 400;
}

.control input:focus,
.control textarea:focus {
  outline-color: #e13272;
}
.actions h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}
